@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: white!important ;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}*/

.footer {
  text-align: center;
  margin: auto;
  display: grid;
  justify-content: center;
  font-size: 1rem;
  align-content: center;
  height: 5vh;
}

.hro {
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: grid;
}

.text-hro {
  font-size: 5rem;
  line-height: 1;
  font-family: Roboto, monospace;
}

.profile {
  padding: 5px;
}

.main-profile {
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px #666;
}


.bg-footer {
  border-top: 5px solid rgb(235, 235, 235);
}

.status-profile {
  padding: 2rem;
  margin: 8px;
  margin-top: auto;
}

.tak{
  color: darkgray;
}

.testing{
  margin: auto;
  text-align: center;
  justify-content: center;
  display: grid;
}

a:hover {
  color: gray;
}

.buttn-src {
  font-size: 5rem;
  border-radius: 9999px;
  margin: 5px;
}

.buttn-src:hover {
  background-color: azure;
}

.bulet-skills {
  display: grid;
  place-items: center;
}



.bg-skills {
  background-color: aliceblue;
  border-radius: 0.5rem;
}

.isi-html{
  --value:80
}

.bg-profiles{
  margin: 65px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px #666;
}

.grid-profiles {
  display: grid;
  place-items: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image2 {
  margin-right: 20px;
}

.text2 {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 1280px) {
  .bulet-skills {grid-template-columns: 1fr 200px 1fr; grid-template-rows: 100px 200px;}
  .bg-skills {margin: 65px;}
}

@media only screen and (min-widht: 1280px) {
  .grid-profiles {grid-template-columns: 1fr 200px 1fr; grid-template-rows: 150px 200px;}
}
/* profile mobile */
@media only screen and (min-width: 280px)  {
  .grid-profiles {grid-template-columns: 1fr; grid-template-rows: 250px;}
}
/* skill mobile*/ 
@media only screen and (min-width: 280px)  {
  .bulet-skills {grid-template-columns: 0.5fr 200px 0.5fr; grid-template-rows: 50px 150px;}
}